.list {
  list-style: none;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-items: center;
  column-gap: 20px;
  row-gap: 20px;

  @media screen and (max-width: 1320px) {
    grid-template-columns: repeat(3, auto);
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, auto);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, auto);
  }
}
