// 1. colors:

// 1.1 fonts colors:
$text_color_default: #151317;
$text_color_light: #ffffff;
$text_color_light-secondary: #f8f8f8;
$text_color_placeholder: #808185;
$text_color_error: #ff6161;

// 1.2 background colors:
$bg_color_default: #ffffff;

// 1.2 common colors:
$color_ffffff: #ffffff;
$color_f8f8f8: #f8f8f8;
$color_512689: #512689;
$color_7e7f80: #7e7f80;

// 2. fonts
$font-family-default: 'Roboto', 'Arial', 'Segoe UI', 'Oxygen', 'Ubuntu',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
