@use '../../styles/variables' as var;

.avatar {
  display: flex;
  object-fit: cover;
  object-position: center;
  width: 124px;
  height: 124px;
  border-radius: 100%;
  background-color: var.$color_f8f8f8;
  flex-shrink: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  &_size_sm {
    width: 124px;
    height: 124px;
  }

  &_size_lg {
    width: 187px;
    height: 187px;
  }
}
